/*carousel*/
.carousel-item {
    height: 36rem;
    background: #000;
    color: white;
    position: relative;
    

}
.container-slide {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 5%;
    padding-left: 10%;
}
.overlay-img{
    opacity: 0.6;
}



.aboutPic{width: 22% ;}
.slidePic{
    opacity:1;
}

/*acordian*/
.accordion-button{
    font-size: inherit;
    background: #212529;
    color: white;
}
.accordion-item{
    border: 1px solid #212529;
}
.accordion-button:not(collapsed) {
    color: inherit;
    background: #212529;
    color: white;
}
.accordion-button:not(collapsed)::after {
    filter: brightness(0%) invert(100%);
}
.accordion-body{
    background: #212529;

}
.accordion-button:focus {
    box-shadow: inherit;
}
.aboutT{
    margin-left: -1rem;
    margin-right: -1rem;
}


/* experience */




 /*icons*/
.fa-html5{
    color: #e54d26
}
.fa-css3-alt{
    color: #2163af
}
.fa-bootstrap{
    color: #563d7c
}
.fa-js{
    color:#f0db4f
}
.fa-python{
    color: #4B8BBE
}
.fa-html5, .fa-css3-alt, .fa-bootstrap, .fa-js, .fa-python{
    font-size: 4em;
}
.tsIcon{
    width: 66px;
}
.fGit, .fa-linkedin{
    font-size: 2em;
}

.boRow{
    padding: 0% 15% 0% 15%;
}

/* Projects */
.project-img{
    max-width: 90%;
    margin-left: 10%;

}
.project-1{
    margin-left: -2rem;
    margin-right: -6rem;
}

/* misc */
a {
    text-decoration: none;
}
