/* Default CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

button {
  border: 0;
  background-color: transparent;
}


